<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!--
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    -->
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">관리자페이지</title>
    <link href="/css/styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
</head>
<body>
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="/">공모주</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
    <!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        <!--
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
            <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
        </div>
        -->
    </form>
    <!-- Navbar-->
    <button sec:authorize="isAnonymous()" type="button" id="goLogin" class="btn btn-success btn-sm">로그인</button>
    <button sec:authorize="not isAnonymous()" type="button" id="goLogout" class="btn btn-success btn-sm">로그아웃</button>

    <!--
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#!">Settings</a></li>
                <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="#!">Logout</a></li>
            </ul>
        </li>
    </ul>
    -->
</nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">메뉴</div>
                    <a sec:authorize="hasAnyRole('USER', 'ADMIN')" class="nav-link" href="/ipo/ipoDashboard.do">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        공모주 개요
                    </a>
                    <a sec:authorize="hasAnyRole('USER', 'ADMIN')" class="nav-link" href="/ipo/ipoList.do">
                        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                        공모주 목록
                    </a>
                    <a sec:authorize="hasAnyRole('USER', 'ADMIN')"  class="nav-link" href="/ipo/ipoInform.do">
                        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                        공모주 안내사항
                    </a>
                    <a sec:authorize="hasRole('ADMIN')" class="nav-link" href="/ipo/ipoAdmin.do">
                        <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                        관리자 페이지
                    </a>
                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small">현재 권한:</div>
                <b sec:authorize="hasRole('ADMIN')">관리자</b>
                <b sec:authorize="hasRole('USER')">사용자</b>
                <b sec:authorize="hasRole('GUEST')">GUEST</b>
            </div>
        </nav>
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4" layout:fragment="content">
                Page Content 여기에 나올거에요. / 만약 이 글자가 보이면 제대로 로딩되지 못했습니다.
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; 최현식</div>
                    <!--
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                    -->
                </div>
            </div>
        </footer>
    </div>
</div>

<!--팝업형식으로 로그아웃버튼이 호출됨-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">정말 로그아웃 할까요?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">'Logout' 선택시 세션이 종료됩니다.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <form method="post" action="/logout"> <!--스프링 시큐리티 내부에서 관리되는 로그아웃측으로 전송됨-->
                    <!--
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    -->
                    <button type="submit" class="btn btn-primary">Logout</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/js/scripts.js"></script>
<script>
    //해당 csrf 토큰값은 상단에 <meta>로 넣어둘경우 spring-security가 알아서 값을 넣어준다.
    /*
    var token = $("meta[name='_csrf']").attr("content");
    var header = $("meta[name='_csrf_header']").attr("content");
    $(document).ajaxSend(function (e, xhr, opt) {
        xhr.setRequestHeader(header, token);
    });
    $("#goLogin").on('click', function () {
        window.location.href = "/login/login.do";
    });
    $("#goLogout").on('click', function () {
        $("#logoutModal").modal();
    });
    */
</script>
<th:block layout:fragment="script"></th:block>
</body>
</html>
