<!DOCTYPE html>
<html lang="ko"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorator="layout/default_layout"
>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>공모주 개요</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link href="/css/styles.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.css">
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="index.html">Start Bootstrap</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                    <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                </div>
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">Settings</a></li>
                        <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#!">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Core</div>
                            <a class="nav-link" href="index.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Dashboard
                            </a>
                            <div class="sb-sidenav-menu-heading">Interface</div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Layouts
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="layout-static.html">Static Navigation</a>
                                    <a class="nav-link" href="layout-sidenav-light.html">Light Sidenav</a>
                                </nav>
                            </div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                Pages
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                        Authentication
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="login.html">Login</a>
                                            <a class="nav-link" href="register.html">Register</a>
                                            <a class="nav-link" href="password.html">Forgot Password</a>
                                        </nav>
                                    </div>
                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
                                        Error
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="401.html">401 Page</a>
                                            <a class="nav-link" href="404.html">404 Page</a>
                                            <a class="nav-link" href="500.html">500 Page</a>
                                        </nav>
                                    </div>
                                </nav>
                            </div>
                            <div class="sb-sidenav-menu-heading">Addons</div>
                            <a class="nav-link" href="charts.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                Charts
                            </a>
                            <a class="nav-link" href="tables.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Tables
                            </a>
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Logged in as:</div>
                        Start Bootstrap
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content" layout:fragment="content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">공모주 개요</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                        <!-- 차트부분 -->
                        <div class="row">
                            <div class="col-xl">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-area me-1"></i>
                                        기대 수익률 (종가기준)
                                    </div>
                                    <div class="card-body">               
                                        <canvas id="myChart" style="width:100%;"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- 카드 부분 -->
                        <div class="row">
                            <div class="col-xl-3 col-md-6">
                                <div class="quickslot card bg-danger text-white mb-4">
                                    <div class="card-body"><span class="ipoCard">항목1</span></div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link ipoLink" href="#">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="quickslot card bg-danger text-white mb-4">
                                    <div class="card-body"><span class="ipoCard">항목2</span></div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link ipoLink" href="#">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="quickslot card bg-danger text-white mb-4">
                                    <div class="card-body"><span class="ipoCard">항목3</span></div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link ipoLink" href="#">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="quickslot card bg-danger text-white mb-4">
                                    <div class="card-body"><span class="ipoCard">항목4</span></div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link ipoLink" href="#">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-3 col-md-6">
                                <div class="quickslot card bg-danger text-white mb-4">
                                    <div class="card-body"><span class="ipoCard">항목5</span></div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link ipoLink" href="#">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="quickslot card bg-danger text-white mb-4">
                                    <div class="card-body"><span class="ipoCard">항목6</span></div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link ipoLink" href="#">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="quickslot card bg-danger text-white mb-4">
                                    <div class="card-body"><span class="ipoCard">항목7</span></div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link ipoLink" href="#">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="quickslot card bg-danger text-white mb-4">
                                    <div class="card-body"><span class="ipoCard">항목8</span></div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link ipoLink" href="#">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </main>
                <!--
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2021</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
                -->
            </div>
        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="/js/scripts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        
        <th:block layout:fragment="script">
			<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
			<script>
				const ctx = document.getElementById('myChart').getContext('2d');
				var config = {
				    type: 'line',
				    data: {
				        labels: ['A', 'B', 'C', 'D'],
				        datasets: [{
				            label: '수익률',
				            data: [100, 200, 300, -100],
				            yAxisID: 'moreMoney',
				            backgroundColor: [
				                'rgba(255, 99, 132, 0.2)'
				            ],
				            borderColor: [
				                'rgba(255, 99, 132, 1)'
				            ],
				            borderWidth: 1
				        }]
				    },
				    options: {
				        scales: {
				            y: {
				                beginAtZero: true
				            },
				            yAxes : [{
								id: 'moreMoney',
								ticks : {
									min: -100,
									max: 300
								},
								gridLines : {
									display: true
								}
							}]
				        }
				    },
				    legend: {
						reverse: true
					}
				}
				myChart = new Chart(ctx, config);
				
				var dataIpoStartDate = new Array();
				var dataIpoRefundDate = new Array();
				var dataDebutDday = new Array();
				ajaxApi(0);
				function ajaxApi(typeNumber) {
					$.ajax({
						url : "/ipo/ipoList.ajax",
						type : "GET",
						data : {
							//'jongmokCode' : jongmokCode
						},
						success : function(data) {
							try {
								var dataArrLabel = new Array();
								var dataArrPercent = new Array();
								var dataIpoCard = document.getElementsByClassName("ipoCard");
								var dataIpoLink = document.getElementsByClassName("ipoLink"); 
								var dataIpoCardBg = document.getElementsByClassName("quickslot"); 
								
								for (var i = 0; i < data.length; i++) {			
									if(data[i]['debutPrice'] != 0) {							
										dataArrLabel.push(data[i]['stockName']);
										var profit = (data[i]['debutPrice'] / data[i]['ipoPrice']) * 100 - 100;
										profit = profit.toFixed(2);
										dataArrPercent.push(profit);
									}
									
									if(i < 8) {
										// 하단 카드 정보 기입
										stateValue = checkState(data[i]['ipoStartDate'], data[i]['ipoRefundDate'], data[i]['ipoDebutDate']);
										
										dataIpoCard[i].innerHTML = "[" + stateValue + "]" + data[i]['stockName'];
										dataIpoLink[i].href = "/ipo/"+data[i]['ipoIndex'];
										
										if(stateValue == "상장")
											dataIpoCardBg[i].style.setProperty("background-color", "lightgray", "important");
									}
									//dataArrCount.push(data[i]['logIndex']);
									
									if(i >16) //최근 16개만 표시
										break;
								}
			
								myChart.config.data.labels = dataArrLabel;
								myChart.config.data.datasets[0].data = dataArrPercent;
			
								myChart.update();
							} catch (e) {
								this.error();
							    return;
							}
						},
						error : function() {
							alert("조회중 오류가 발생하였습니다.");
						}
					})
				};
			</script>
			<script>
				function checkState(startDate, refundDate, debutDate) {					
					//일정 Dday 업데이트
					var startDday = checkDday(startDate);
					var refundDday = checkDday(refundDate);
					var debutDday = checkDday(debutDate);
					
					//타이틀 값 업데이트
					var nowState;
						
					if(startDday > 0)
						nowState = "공모예정";
					else if(startDday == 0)
						nowState = "청약시작";
					else if(startDday == -1)
						nowState = "마감임박";
					else if(refundDday > 0)
						nowState = "배정대기";
					else if(refundDday == 0)
						nowState = "환불진행";
					else if(debutDday > 0)
						nowState = "상장대기";
					else if(debutDday <= 0)
						nowState = "상장";
						
					return nowState;
				};
				
				function checkDday(dday) {
					var dday_arr = dday.split("-");
					var now = new Date();
					var year = now.getFullYear();
					var month = now.getMonth() + 1;
					var day = now.getDate();
					
					var sDate = new Date(dday_arr[0], dday_arr[1], dday_arr[2]);
					var eDate = new Date(year, month, day);
					
					var result = (eDate.getTime() - sDate.getTime()) / (1000*60*60*24) * -1;
					return result;	
				}
			</script>
        </th:block>
    </body>
</html>
