<!DOCTYPE html>
<html lang="ko"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorator="admin/layout/default_layout"
>

<head>
	<meta charset="UTF-8">
	<title>공모주 목록</title>
	<!--<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />-->
	<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.19.0/dist/bootstrap-table.min.css">
	<link href="https://unpkg.com/bootstrap-table@1.19.0/dist/extensions/page-jump-to/bootstrap-table-page-jump-to.min.css" rel="stylesheet">
</head>

<body>
	<div class="container" layout:fragment="content">
		<br/>
		<div class="alert alert-primary" role="alert">공모주 목록
		</div>
		<table class="table table-bordered table-sm" id="table" data-toggle="table" data-search="true"
			data-strict-search="false" data-show-refresh="true" data-show-toggle="false" data-show-fullscreen="true"
			data-show-columns="true" data-show-columns-toggle-all="false" data-detail-view="false"
			data-single-select="false" data-click-to-select="false" data-minimum-count-columns="2" data-id-field="id"
			data-show-footer="false" 
			
			data-show-pagination-switch="true"
			data-pagination=＂true＂
			data-page-size="10"
			data-page-list="[5, 10, 15, all]"
			data-show-jump-to="true"
			
			data-show-export="true"
			data-export-data-type="all"
			data-show-print="true"

			data-url="http://test.dbsg.co.kr:8080/ipo/ipoList.ajax" data-sort-name="ipoIndex" data-sort-order="desc">
			<thead>
				<tr>
					<th data-field="ipoIndex" data-sortable="true" data-align="center" data-formatter="viewButton">순번</th>
					<th data-field="stockName" data-sortable="true" data-align="left">종목명</th>
					<th data-field="underwriter" data-sortable="true" data-align="right">주간사</th>
					<th data-field="ipoStartDate" data-sortable="true" data-align="center">청약일자</th>
				</tr>
			</thead>
		</table>
		<a sec:authorize="hasRole('ADMIN')" href="/ipo/ipoWrite.do" class="btn btn-warning">글쓰기</a>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

	<th:block layout:fragment="script">
	<script src="https://unpkg.com/bootstrap-table@1.19.0/dist/bootstrap-table.min.js"></script>
	<script src="https://unpkg.com/bootstrap-table@1.19.0/dist/extensions/page-jump-to/bootstrap-table-page-jump-to.min.js"></script>
	<script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
	<script src="https://unpkg.com/bootstrap-table@1.19.0/dist/extensions/export/bootstrap-table-export.min.js"></script>
	<script src="https://unpkg.com/bootstrap-table@1.19.0/dist/extensions/print/bootstrap-table-print.min.js"></script>
	<script>
		$("#table").on("load-success.bs.table", function (data) {
			//table이 성공적으로 호출되었을때 실행됨.
			var data = $("#table").bootstrapTable("getData")
			if (data.length > 0) {
				paramBoardIdx = data[0].boardIdx;
				//alert(paramBoardIdx);
			}
		});
				
		function viewButton(value) {
			//html format을 바꿔줌. 이건 버튼형식으로 바꿔주는것. (치환)
			return '<button type="button" class="btn btn-secondary btn-sm" style="padding-top:0">' + value + '</button>'
		};
	
		function numberFormatter(value) {
			//매 3번째 글자마다 쉼표를 추가함 (예를들어 1000은 => 1,000)
			if (value === 0) return 0;
			const reg = /(^[+-]?\d+)(\d{3})/;
			let n = (value + '');
			while (reg.test(n)) n = n.replace(reg, '$1' + ',' + '$2');
			return n;
		}
		
		$("table").on("click", "tr", function () {
			var row = $(this).index();
			var tr = $(this);
			var td = tr.children();
			var id = td.eq(0).text();
			if ($.isNumeric(id)) {
				location.href = "/ipo/" + id;
			}
		});
	</script>
	</th:block>
</body>

</html>
