<!DOCTYPE html>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="test/layout_test/fragments/config :: configFragment"></head>

<body>
<!-- header 시작 -->
<header th:replace="test/layout_test/fragments/header :: headerFragment"></header>
<!-- header 끝 -->
<!-- content 시작 -->
<div layout:fragment="content"></div>
<!-- content 끝 -->
<!-- footer 시작 -->
<footer th:replace="test/layout_test/fragments/footer :: footerFragment"></footer>
<!-- footer 끝 -->
</body>

</html>